/* Réinitialisation des styles par défaut du navigateur */
/* Réinitialisation des styles par défaut du navigateur */
body, h1, h2, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  max-width: 1200px;
  height: 300px;
  margin: 0 auto;
}

div > p {
  background-color: #2c1d27;
  padding: 20px;  
  color: #fff;
  text-align: center;
}

header, footer {
  background-color: #782221;
  color: #fff;
  text-align: center;
}

.profil-picture {
  max-width: 100%;
  border-radius: 50%;
}

aside {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  padding: 20px 20px 20px 0px;
  box-sizing: border-box;
}
main{
  display: inline-block;
  vertical-align: top;
  width: 69%;
  padding: 20px 0px 20px 30px;
  box-sizing: border-box;
}

aside {
  background-color: #782221;
}
aside ul {  
  padding: 0px 0px 0px 30px;
  color: #fff;
}
aside p {
  color: #fff;
  padding: 0px 0px 0px 30px;
}

.rubrique {
  background-color: #dbc2a4; /* Ajout de l'arrière-plan blanc */
  padding: 0px 0px 0px 20px; /* Ajout d'un espacement intérieur pour un meilleur aspect visuel */
  margin: 10px 20px 30px 0px;
}

.rubrique-main {
  background: linear-gradient(to right, #782221 1%, #dbc2a4 1%);
  padding: 0px 0px 0px 20px; /* Ajout d'un espacement intérieur pour un meilleur aspect visuel */
  margin: 10px 20px 30px 0px;
}

section {
  margin-bottom: 20px;
}

footer {
  color: #fff;
  padding: 10px;
  text-align: center;
}

footer ul {
  list-style: none;
}

footer ul li {
  display: inline;
  margin-right: 10px;
}

a {
  color: #007BFF;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}